/* App.css */
body {
  font-family: Arial, sans-serif;
}

.styled-table {
  margin: 60px auto 0; /* Added margin-top to push the table down */
  border-collapse: collapse;
  width: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  animation: fadeIn 1s ease-in-out;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  transition: background-color 0.3s ease;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
}

.logout-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #009879;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover,
.logout-button:hover {
  background-color: #007f63;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}